body {
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    all: unset;
    cursor: pointer;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    padding: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.actions {
    display: flex;
    justify-content: right;
    gap: 0.5rem;
}

.trello-header {
    display: flex;
    height: 3rem;
    padding: 0.5rem 0;
    background-color: #0079BF;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #0079BF;
    opacity: 0.6;
    padding: 1rem;
    justify-content: flex-start;
    gap: 1rem;
}

.card {
    min-height: 30rem;
    border: 1px solid #FFAB00;
    border-radius: 1rem;
    background-color: #ead6b1;
    position: relative;
    padding: 0.5rem;
    display: flex;
    width: 19rem;
    flex-direction: column;
    gap: 0.5rem;
    flex: 0 1 19rem;
}

.card-header {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.card-footer {
    height: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.card-header-badge {
    padding: 0.25rem 1rem;
    background: #ffab00;
    border-radius: 7rem;
    font-size: 1rem;
    font-weight: 600;
}

.card-details {
    display: flex;
    flex-direction: column;
}

.card-header-text {
    font-weight: bold;
    font-size: 1.25rem;
}

.card-header-right {
    display: flex;
    gap: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    max-height: 24rem;
    overflow: auto;
}

.card-data {
    background-color: white;
    min-height: 5rem;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.task-edit {
    display: flex;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.card-description {
    font-size: 0.75rem;
}

.hide {
    visibility: hidden;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #fff;
    padding: 16px;
    width: 300px;
    border-radius: 6px;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        /* stack on mobile */
    }
}